<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel Database - Movies</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link" href="../">Home</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="../characters">Characters</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="../movies">Movies</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="../planets">Planets</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="../organizations">Organizations</a>
			</li>			
		</ul>
		</div>
	</nav>    

	<div class="container">
		<div class="col-lg-12">
			<div id="movies-form-update">

                <h1>Update Movie:</h1>
                <form id="update-movie" action="/movies/" method="post">

									<label>Name</label>
									<input type="text" name="name" class="form-control" required value="{{movie.MovieName}}"><br>

									<label>Release Date</label>
									<input type="date" name="releaseDate" required value="{{movie.ReleaseDate}}"><br>

									<label>Phase</label>
									<br>
										<select name="Phase" id="phase-selector" required>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
										</select>
									<br>
									<br>
												
                <button class="btn btn-primary" onclick="updateMovie({{movie.ID}})">Update</button>
								<a href='../movies/' class="btn btn-danger" style="margin-left: 15px">Cancel</a>
							</form>
							<script defer>selectPhase({{movie.Phase}});</script>
      </div>
		</div>
	</div>

<script		src="https://code.jquery.com/jquery-3.4.0.min.js"
			integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
			crossorigin="anonymous"></script>
<script 	type="text/javascript" 
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>