<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/characters">Characters</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/movies">Movies</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/planets">Planets</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/organizations">Organizations</a>
			</li>		
		</ul>
		</div>
	</nav>    

	<div class="container">
			<div class="col-lg-12">
                <div id="organizations-table">

                    <h1>Organizations</h1>
                    <br>
                    <a href='../organizations-new' class="btn btn-primary btn-md">Add a new organization</a>
                    <a href='../characters-organizations' class="btn btn-primary btn-md">View characters in organizations</a>
                    <br>
                    <br>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Leader</th>
                                <th style="width:135px"></th> {{!-- This puts the edit and delete buttons into their own fixed-width column --}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each organizations}}
                            <tr>
                                <td>{{OrganizationName}}</td>
                                <td>{{Leader}}</td>
                                <td>
                                    <a href='../organizations/{{ID}}' class="btn btn-primary btn-sm">Edit</a>
                                    <a href='../organizations/delete/{{ID}}' class="btn btn-danger btn-sm" style="margin-left: 5px">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>